# Scrap website

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
List_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
source = requests.get(List_url).text

In [3]:
soup = BeautifulSoup(source, 'xml')

In [4]:
table=soup.find('table')

In [5]:
column_names = ['Postalcode','Borough','Neighborhood']
df = pd.DataFrame(columns = column_names)

In [8]:
for tr_cell in table.find_all('tr'):
    row_data=[]
    for td_cell in tr_cell.find_all('td'):
        row_data.append(td_cell.text.strip())
    if len(row_data)==3:
        df.loc[len(df)] = row_data
df.head()

  Postalcode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

# Task: Ignore cells with a borough that is Not assigned.

Removing rows with 'Not assigned' under Borough column

In [9]:
df=df[df['Borough']!='Not assigned']

If a cell has a borough but a Not assigned  neighborhood, then the neighborhood will be the same as the borough.

In [17]:
df.loc[df.Neighborhood == 'Not assigned']
df.Neighborhood.replace('Not assigned',df.Borough,inplace=True)
df.head(4)

  Postalcode           Borough                      Neighborhood
2        M3A        North York                         Parkwoods
3        M4A        North York                  Victoria Village
4        M5A  Downtown Toronto         Regent Park, Harbourfront
5        M6A        North York  Lawrence Manor, Lawrence Heights

In [25]:
temp_df = df.groupby(['Postalcode', 'Borough'])['Neighborhood'].apply(lambda x: ', '.join(x))
temp_df = temp_df.reset_index()
temp_df.rename(columns = {'Postalcode':'PostalCode'}, inplace = True)
temp_df.rename(columns = {'Neighborhood':'Neighborhood'}, inplace = True)
temp_df.head()

  PostalCode      Borough                                       Neighborhood
0        M1B  Scarborough                     Malvern, Rouge, Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek, Rouge ...
2        M1E  Scarborough  Guildwood, Morningside, West Hill, Guildwood, ...
3        M1G  Scarborough                                     Woburn, Woburn
4        M1H  Scarborough                               Cedarbrae, Cedarbrae

In [23]:
temp_df.shape

(103, 3)